<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h3><b>Create a new Listing</b></h3>

            <form method="post" action="/listings" class="mt-3 needs-validation" novalidate>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" id="title" placeholder="Add a catchy title!" type="text" class="form-control" required/>
                 <div class="invalid-feedback">Please enter a title</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" id="description" placeholder="Enter Description" type="text" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please Enter a short description</div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image Link</label>
                    <input name="listing[image]" id="image" placeholder="Enter image URL" type="text" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" id="price" placeholder="1200" class="form-control"required>
                    <div class="invalid-feedback">Price should be valid</div>
                </div>

                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" id="country" placeholder="India" type="text" class="form-control"required>
                    <div class="invalid-feedback">Country name should be valid </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" id="location" placeholder="Jaipur,Rajasthan" type="text" class="form-control"required>
                    <div class="invalid-feedback">Place should be valis</div>
                </div>

                <button class="btn btn-dark add-btn">Add</button>
                <br><br>
            </form>
        </div>
    </div>
</body>
